.form-container{
    height: 60vh;
    width: 30%;
    background-color: rgb(138, 230, 138);
    border-radius: 15px;
    box-sizing: border-box;
    position: fixed;
    right: 5%;
    top: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: groove;
}

.form-img-container{
    position: relative;
    box-sizing: border-box;
    border: groove;
    height: 257px;
    width: 80%;
    margin: 20px 0;
    vertical-align: ;
}

.img{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.inputs-container{
    position: relative;
    width: 90%;
}

.box{
    width: 90%
}

.tag{
    font-size: 24px;
    float: left;
    margin-left: 5%;
    margin-top: 8px;
}

.buttons-conatiner{
    height: 15vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    bottom: 10px;
}

#clr-button{
    position: absolute;
    bottom: 15px;
    left: 10%;
    height: 50px;
    width: 100px
}

#add-button{
    position: absolute;
    bottom: 15px;
    right: 10%;
    box-sizing: border-box;
    overflow: hidden;
    height: 50px;
    width: 200px;
    font-size: 20px;
}